<div class="card" style="width: 20rem;">
<div class="card-body">
<h2>Inicar Sesión</h2>
<form action="" method="POST">
  <div class="form-group">
    <label>Usuario</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingrese el usuario">
    <small id="emailHelp" class="form-text text-muted">Información válida para Administrador!</small>
  </div>
    <label for="exampleInputPassword1">Contraseña</label>
    <input type="password" class="form-control" placeholder="Ingrese la contraseña" id="nombre">
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <small><label class="form-check-label" for="exampleCheck1">Recordar usuario</label></small>
  </div>
  <button class="btn btn-outline-primary" value="Enviar" type="submit">Enviar</button><br>
  <br>
  <a href="http://localhost:4200/registro"><small>No tienes cuenta?... Click aquí</small></a>
</form>
</div>
</div>
