<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">Inicio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="./../login">Iniciar Sesión<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="./../registro">Registrarse</a>
      </li>
    </ul>
  </div>
</nav>
<br>

<div class="card" style="width: 20rem;">
<div class="card-body">
<h2>Inicar Sesión</h2>
<form action="" method="POST">
  <div class="form-group">
    <label>Usuario</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Ingrese el usuario">
    <small id="emailHelp" class="form-text text-muted">Información válida para Administrador!</small>
  </div>
    <label for="exampleInputPassword1">Contraseña</label>
    <input type="password" class="form-control" placeholder="Ingrese la contraseña" id="nombre">
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <small><label class="form-check-label" for="exampleCheck1">Recordar usuario</label></small>
  </div>
  <button class="btn btn-outline-primary" value="Enviar" type="submit">Enviar</button><br>
  <br>
  <a href="http://localhost:4200/registro"><small>No tienes cuenta?... Click aquí</small></a>
</form>
</div>
</div>
