<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">Bodega</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Lista de productos <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/form">Agregar nuevos productos</a>
      </li>
    </ul>
  </div>
</nav>
<br>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Tipo</th>
      <th scope="col">Año de fabricación</th>
      <th scope="col"> Descripción</th>
      <th scope="col">Garantia</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let movie of movies">
      <td>{{ movie.id }}</td>
      <th>{{ movie.name }}</th>
      <td>{{ movie.genre }}</td>
      <td>{{ movie.year }}</td>
      <td>{{ movie.description }}</td>
      <td>{{ movie.duration }}</td>
      <td></td>
      <td>
        <a class="btn btn-primary btn-sm" routerLink="/form/{{movie.id}}">Ver/Editar</a>
        <a class="btn btn-danger btn-sm" (click)="delete(movie.id)">Eliminar</a>
      </td>
    </tr>
  </tbody>
</table>
